@import "../../sass/abstract/_mixins";
@import "../abstract/_variables";


.watchlist-container{

    position: relative;
    height: 93vh;
    width:100vw;
    background-image: linear-gradient(123deg, $lightGray 50%,$mediumGray);
    @include flex-column-center;
}

.list-header{
    font-size: 1.5rem;
    padding: .5rem .5rem;
    height: auto;
    width:60%;
    margin-bottom: 1rem;
    @include flex-row-center;
    justify-content: space-between;

    &__movies-amount{
        padding:  1rem;
        border-radius: .7rem;
        background-color: $darkBlue;
        font-size: 2rem;
        font-weight: 700;
        color: $mediumGreen;
    }

    &__title{
        color: $darkBlue;
        font-weight: 700;
    }

}

.movies-grid-container{
    height: 80%;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

